html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/************************************************************************/
/* ROW
/************************************************************************/
.row {
  overflow: hidden;
  *zoom: 1;
  width: 100%;
}

.row_flex {
  width: 100%;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

@media (min-width: 600px) {
  .row-flex-md {
    width: 100%;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
}

@media (min-width: 900px) {
  .row-flex-lg {
    width: 100%;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
}

@media (min-width: 1200px) {
  .row-flex-xl {
    width: 100%;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
}

@media (min-width: 1500px) {
  .row-flex-xxl {
    width: 100%;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
}

/************************************************************************/
/* SMALL GRID CLASSES
/************************************************************************/
.sm-1 {
  width: 8.33333%;
  float: left;
  padding: 0 1.5rem;
}

.sm-1.last, .sm-1:nth-child(12n) {
  width: 8.33333%;
  float: right;
  margin-right: 0;
}

.sm-2 {
  width: 16.66667%;
  float: left;
  padding: 0 1.5rem;
}

.sm-2.last, .sm-2:nth-child(6n) {
  width: 16.66667%;
  float: right;
  margin-right: 0;
}

.sm-3 {
  width: 25%;
  float: left;
  padding: 0 1.5rem;
}

.sm-3.last, .sm-3:nth-child(4n) {
  width: 25%;
  float: right;
  margin-right: 0;
}

.sm-4 {
  width: 33.33333%;
  float: left;
  padding: 0 1.5rem;
}

.sm-4.last, .sm-4:nth-child(3n) {
  width: 33.33333%;
  float: right;
  margin-right: 0;
}

.sm-5 {
  width: 41.66667%;
  float: left;
  padding: 0 1.5rem;
}

.sm-5.last {
  width: 41.66667%;
  float: right;
  margin-right: 0;
}

.sm-6 {
  width: 50%;
  float: left;
  padding: 0 1.5rem;
}

.sm-6.last, .sm-6:nth-child(2n) {
  width: 50%;
  float: right;
  margin-right: 0;
}

.sm-7 {
  width: 58.33333%;
  float: left;
  padding: 0 1.5rem;
}

.sm-7.last {
  width: 58.33333%;
  float: right;
  margin-right: 0;
}

.sm-8 {
  width: 66.66667%;
  float: left;
  padding: 0 1.5rem;
}

.sm-8.last {
  width: 66.66667%;
  float: right;
  margin-right: 0;
}

.sm-9 {
  width: 75%;
  float: left;
  padding: 0 1.5rem;
}

.sm-9.last {
  width: 75%;
  float: right;
  margin-right: 0;
}

.sm-10 {
  width: 83.33333%;
  float: left;
  padding: 0 1.5rem;
}

.sm-10.last {
  width: 83.33333%;
  float: right;
  margin-right: 0;
}

.sm-11 {
  width: 91.66667%;
  float: left;
  padding: 0 1.5rem;
}

.sm-11.last {
  width: 91.66667%;
  float: right;
  margin-right: 0;
}

.sm-12 {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  padding: 0 1.5rem;
}

.sm-12.last {
  width: 100%;
  float: right;
  margin-right: 0;
}

/************************************************************************/
/* MEDIUM GRID CLASSES
/************************************************************************/
@media (min-width: 600px) {
  .md-1 {
    width: 8.33333%;
    float: left;
    padding: 0 1.5rem;
  }
  .md-1:nth-child(12n), .md-1:nth-child(6n), .md-1:nth-child(4n), .md-1:nth-child(3n), .md-1:nth-child(2n) {
    width: 8.33333%;
    float: left;
  }
  .md-1.last, .md-1:nth-child(12n) {
    width: 8.33333%;
    float: right;
    margin-right: 0;
  }
  .md-2 {
    width: 16.66667%;
    float: left;
    padding: 0 1.5rem;
  }
  .md-2:nth-child(12n), .md-2:nth-child(6n), .md-2:nth-child(4n), .md-2:nth-child(3n), .md-2:nth-child(2n) {
    width: 16.66667%;
    float: left;
  }
  .md-2.last, .md-2:nth-child(6n) {
    width: 16.66667%;
    float: right;
    margin-right: 0;
  }
  .md-3 {
    width: 25%;
    float: left;
    padding: 0 1.5rem;
  }
  .md-3:nth-child(12n), .md-3:nth-child(6n), .md-3:nth-child(4n), .md-3:nth-child(3n), .md-3:nth-child(2n) {
    width: 25%;
    float: left;
  }
  .md-3.last, .md-3:nth-child(4n) {
    width: 25%;
    float: right;
    margin-right: 0;
  }
  .md-4 {
    width: 33.33333%;
    float: left;
    padding: 0 1.5rem;
  }
  .md-4:nth-child(12n), .md-4:nth-child(6n), .md-4:nth-child(4n), .md-4:nth-child(3n), .md-4:nth-child(2n) {
    width: 33.33333%;
    float: left;
  }
  .md-4.last, .md-4:nth-child(3n) {
    width: 33.33333%;
    float: right;
    margin-right: 0;
  }
  .md-5 {
    width: 41.66667%;
    float: left;
    padding: 0 1.5rem;
  }
  .md-5:nth-child(12n), .md-5:nth-child(6n), .md-5:nth-child(4n), .md-5:nth-child(3n), .md-5:nth-child(2n) {
    width: 41.66667%;
    float: left;
  }
  .md-5.last {
    width: 41.66667%;
    float: right;
    margin-right: 0;
  }
  .md-6 {
    width: 50%;
    float: left;
    padding: 0 1.5rem;
  }
  .md-6:nth-child(12n), .md-6:nth-child(6n), .md-6:nth-child(4n), .md-6:nth-child(3n), .md-6:nth-child(2n) {
    width: 50%;
    float: left;
  }
  .md-6.last, .md-6:nth-child(2n) {
    width: 50%;
    float: right;
    margin-right: 0;
  }
  .md-7 {
    width: 58.33333%;
    float: left;
    padding: 0 1.5rem;
  }
  .md-7:nth-child(12n), .md-7:nth-child(6n), .md-7:nth-child(4n), .md-7:nth-child(3n), .md-7:nth-child(2n) {
    width: 58.33333%;
    float: left;
  }
  .md-7.last {
    width: 58.33333%;
    float: right;
    margin-right: 0;
  }
  .md-8 {
    width: 66.66667%;
    float: left;
    padding: 0 1.5rem;
  }
  .md-8:nth-child(12n), .md-8:nth-child(6n), .md-8:nth-child(4n), .md-8:nth-child(3n), .md-8:nth-child(2n) {
    width: 66.66667%;
    float: left;
  }
  .md-8.last {
    width: 66.66667%;
    float: right;
    margin-right: 0;
  }
  .md-9 {
    width: 75%;
    float: left;
    padding: 0 1.5rem;
  }
  .md-9:nth-child(12n), .md-9:nth-child(6n), .md-9:nth-child(4n), .md-9:nth-child(3n), .md-9:nth-child(2n) {
    width: 75%;
    float: left;
  }
  .md-9.last {
    width: 75%;
    float: right;
    margin-right: 0;
  }
  .md-10 {
    width: 83.33333%;
    float: left;
    padding: 0 1.5rem;
  }
  .md-10:nth-child(12n), .md-10:nth-child(6n), .md-10:nth-child(4n), .md-10:nth-child(3n), .md-10:nth-child(2n) {
    width: 83.33333%;
    float: left;
  }
  .md-10.last {
    width: 83.33333%;
    float: right;
    margin-right: 0;
  }
  .md-11 {
    width: 91.66667%;
    float: left;
    padding: 0 1.5rem;
  }
  .md-11:nth-child(12n), .md-11:nth-child(6n), .md-11:nth-child(4n), .md-11:nth-child(3n), .md-11:nth-child(2n) {
    width: 91.66667%;
    float: left;
  }
  .md-11.last {
    width: 91.66667%;
    float: right;
    margin-right: 0;
  }
  .md-12 {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    padding: 0 1.5rem;
  }
  .md-12:nth-child(12n), .md-12:nth-child(6n), .md-12:nth-child(4n), .md-12:nth-child(3n), .md-12:nth-child(2n) {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
  .md-12.last {
    width: 100%;
    float: right;
    margin-right: 0;
  }
}

/************************************************************************/
/* LARGE GRID CLASSES
/************************************************************************/
@media (min-width: 900px) {
  .lg-1 {
    width: 8.33333%;
    float: left;
    padding: 0 1.5rem;
  }
  .lg-1:nth-child(12n), .lg-1:nth-child(6n), .lg-1:nth-child(4n), .lg-1:nth-child(3n), .lg-1:nth-child(2n) {
    width: 8.33333%;
    float: left;
  }
  .lg-1.last, .lg-1:nth-child(12n) {
    width: 8.33333%;
    float: right;
    margin-right: 0;
  }
  .lg-2 {
    width: 16.66667%;
    float: left;
    padding: 0 1.5rem;
  }
  .lg-2:nth-child(12n), .lg-2:nth-child(6n), .lg-2:nth-child(4n), .lg-2:nth-child(3n), .lg-2:nth-child(2n) {
    width: 16.66667%;
    float: left;
  }
  .lg-2.last, .lg-2:nth-child(6n) {
    width: 16.66667%;
    float: right;
    margin-right: 0;
  }
  .lg-3 {
    width: 25%;
    float: left;
    padding: 0 1.5rem;
  }
  .lg-3:nth-child(12n), .lg-3:nth-child(6n), .lg-3:nth-child(4n), .lg-3:nth-child(3n), .lg-3:nth-child(2n) {
    width: 25%;
    float: left;
  }
  .lg-3.last, .lg-3:nth-child(4n) {
    width: 25%;
    float: right;
    margin-right: 0;
  }
  .lg-4 {
    width: 33.33333%;
    float: left;
    padding: 0 1.5rem;
  }
  .lg-4:nth-child(12n), .lg-4:nth-child(6n), .lg-4:nth-child(4n), .lg-4:nth-child(3n), .lg-4:nth-child(2n) {
    width: 33.33333%;
    float: left;
  }
  .lg-4.last, .lg-4:nth-child(3n) {
    width: 33.33333%;
    float: right;
    margin-right: 0;
  }
  .lg-5 {
    width: 41.66667%;
    float: left;
    padding: 0 1.5rem;
  }
  .lg-5:nth-child(12n), .lg-5:nth-child(6n), .lg-5:nth-child(4n), .lg-5:nth-child(3n), .lg-5:nth-child(2n) {
    width: 41.66667%;
    float: left;
  }
  .lg-5.last {
    width: 41.66667%;
    float: right;
    margin-right: 0;
  }
  .lg-6 {
    width: 50%;
    float: left;
    padding: 0 1.5rem;
  }
  .lg-6:nth-child(12n), .lg-6:nth-child(6n), .lg-6:nth-child(4n), .lg-6:nth-child(3n), .lg-6:nth-child(2n) {
    width: 50%;
    float: left;
  }
  .lg-6.last, .lg-6:nth-child(2n) {
    width: 50%;
    float: right;
    margin-right: 0;
  }
  .lg-7 {
    width: 58.33333%;
    float: left;
    padding: 0 1.5rem;
  }
  .lg-7:nth-child(12n), .lg-7:nth-child(6n), .lg-7:nth-child(4n), .lg-7:nth-child(3n), .lg-7:nth-child(2n) {
    width: 58.33333%;
    float: left;
  }
  .lg-7.last {
    width: 58.33333%;
    float: right;
    margin-right: 0;
  }
  .lg-8 {
    width: 66.66667%;
    float: left;
    padding: 0 1.5rem;
  }
  .lg-8:nth-child(12n), .lg-8:nth-child(6n), .lg-8:nth-child(4n), .lg-8:nth-child(3n), .lg-8:nth-child(2n) {
    width: 66.66667%;
    float: left;
  }
  .lg-8.last {
    width: 66.66667%;
    float: right;
    margin-right: 0;
  }
  .lg-9 {
    width: 75%;
    float: left;
    padding: 0 1.5rem;
  }
  .lg-9:nth-child(12n), .lg-9:nth-child(6n), .lg-9:nth-child(4n), .lg-9:nth-child(3n), .lg-9:nth-child(2n) {
    width: 75%;
    float: left;
  }
  .lg-9.last {
    width: 75%;
    float: right;
    margin-right: 0;
  }
  .lg-10 {
    width: 83.33333%;
    float: left;
    padding: 0 1.5rem;
  }
  .lg-10:nth-child(12n), .lg-10:nth-child(6n), .lg-10:nth-child(4n), .lg-10:nth-child(3n), .lg-10:nth-child(2n) {
    width: 83.33333%;
    float: left;
  }
  .lg-10.last {
    width: 83.33333%;
    float: right;
    margin-right: 0;
  }
  .lg-11 {
    width: 91.66667%;
    float: left;
    padding: 0 1.5rem;
  }
  .lg-11:nth-child(12n), .lg-11:nth-child(6n), .lg-11:nth-child(4n), .lg-11:nth-child(3n), .lg-11:nth-child(2n) {
    width: 91.66667%;
    float: left;
  }
  .lg-11.last {
    width: 91.66667%;
    float: right;
    margin-right: 0;
  }
  .lg-12 {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    padding: 0 1.5rem;
  }
  .lg-12:nth-child(12n), .lg-12:nth-child(6n), .lg-12:nth-child(4n), .lg-12:nth-child(3n), .lg-12:nth-child(2n) {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
  .lg-12.last {
    width: 100%;
    float: right;
    margin-right: 0;
  }
}

/************************************************************************/
/* XTRA LARGE GRID CLASSES
/************************************************************************/
@media (min-width: 1200px) {
  .xl-1 {
    width: 8.33333%;
    float: left;
    padding: 0 1.5rem;
  }
  .xl-1:nth-child(12n), .xl-1:nth-child(6n), .xl-1:nth-child(4n), .xl-1:nth-child(3n), .xl-1:nth-child(2n) {
    width: 8.33333%;
    float: left;
  }
  .xl-1.last, .xl-1:nth-child(12n) {
    width: 8.33333%;
    float: right;
    margin-right: 0;
  }
  .xl-2 {
    width: 16.66667%;
    float: left;
    padding: 0 1.5rem;
  }
  .xl-2:nth-child(12n), .xl-2:nth-child(6n), .xl-2:nth-child(4n), .xl-2:nth-child(3n), .xl-2:nth-child(2n) {
    width: 16.66667%;
    float: left;
  }
  .xl-2.last, .xl-2:nth-child(6n) {
    width: 16.66667%;
    float: right;
    margin-right: 0;
  }
  .xl-3 {
    width: 25%;
    float: left;
    padding: 0 1.5rem;
  }
  .xl-3:nth-child(12n), .xl-3:nth-child(6n), .xl-3:nth-child(4n), .xl-3:nth-child(3n), .xl-3:nth-child(2n) {
    width: 25%;
    float: left;
  }
  .xl-3.last, .xl-3:nth-child(4n) {
    width: 25%;
    float: right;
    margin-right: 0;
  }
  .xl-4 {
    width: 33.33333%;
    float: left;
    padding: 0 1.5rem;
  }
  .xl-4:nth-child(12n), .xl-4:nth-child(6n), .xl-4:nth-child(4n), .xl-4:nth-child(3n), .xl-4:nth-child(2n) {
    width: 33.33333%;
    float: left;
  }
  .xl-4.last, .xl-4:nth-child(3n) {
    width: 33.33333%;
    float: right;
    margin-right: 0;
  }
  .xl-5 {
    width: 41.66667%;
    float: left;
    padding: 0 1.5rem;
  }
  .xl-5:nth-child(12n), .xl-5:nth-child(6n), .xl-5:nth-child(4n), .xl-5:nth-child(3n), .xl-5:nth-child(2n) {
    width: 41.66667%;
    float: left;
  }
  .xl-5.last {
    width: 41.66667%;
    float: right;
    margin-right: 0;
  }
  .xl-6 {
    width: 50%;
    float: left;
    padding: 0 1.5rem;
  }
  .xl-6:nth-child(12n), .xl-6:nth-child(6n), .xl-6:nth-child(4n), .xl-6:nth-child(3n), .xl-6:nth-child(2n) {
    width: 50%;
    float: left;
  }
  .xl-6.last, .xl-6:nth-child(2n) {
    width: 50%;
    float: right;
    margin-right: 0;
  }
  .xl-7 {
    width: 58.33333%;
    float: left;
    padding: 0 1.5rem;
  }
  .xl-7:nth-child(12n), .xl-7:nth-child(6n), .xl-7:nth-child(4n), .xl-7:nth-child(3n), .xl-7:nth-child(2n) {
    width: 58.33333%;
    float: left;
  }
  .xl-7.last {
    width: 58.33333%;
    float: right;
    margin-right: 0;
  }
  .xl-8 {
    width: 66.66667%;
    float: left;
    padding: 0 1.5rem;
  }
  .xl-8:nth-child(12n), .xl-8:nth-child(6n), .xl-8:nth-child(4n), .xl-8:nth-child(3n), .xl-8:nth-child(2n) {
    width: 66.66667%;
    float: left;
  }
  .xl-8.last {
    width: 66.66667%;
    float: right;
    margin-right: 0;
  }
  .xl-9 {
    width: 75%;
    float: left;
    padding: 0 1.5rem;
  }
  .xl-9:nth-child(12n), .xl-9:nth-child(6n), .xl-9:nth-child(4n), .xl-9:nth-child(3n), .xl-9:nth-child(2n) {
    width: 75%;
    float: left;
  }
  .xl-9.last {
    width: 75%;
    float: right;
    margin-right: 0;
  }
  .xl-10 {
    width: 83.33333%;
    float: left;
    padding: 0 1.5rem;
  }
  .xl-10:nth-child(12n), .xl-10:nth-child(6n), .xl-10:nth-child(4n), .xl-10:nth-child(3n), .xl-10:nth-child(2n) {
    width: 83.33333%;
    float: left;
  }
  .xl-10.last {
    width: 83.33333%;
    float: right;
    margin-right: 0;
  }
  .xl-11 {
    width: 91.66667%;
    float: left;
    padding: 0 1.5rem;
  }
  .xl-11:nth-child(12n), .xl-11:nth-child(6n), .xl-11:nth-child(4n), .xl-11:nth-child(3n), .xl-11:nth-child(2n) {
    width: 91.66667%;
    float: left;
  }
  .xl-11.last {
    width: 91.66667%;
    float: right;
    margin-right: 0;
  }
  .xl-12 {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    padding: 0 1.5rem;
  }
  .xl-12:nth-child(12n), .xl-12:nth-child(6n), .xl-12:nth-child(4n), .xl-12:nth-child(3n), .xl-12:nth-child(2n) {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
  .xl-12.last {
    width: 100%;
    float: right;
    margin-right: 0;
  }
}

/************************************************************************/
/* XTRA XTRA LARGE GRID CLASSES
/************************************************************************/
@media (min-width: 1500px) {
  .xxl-1 {
    width: 8.33333%;
    float: left;
    padding: 0 1.5rem;
  }
  .xxl-1:nth-child(12n), .xxl-1:nth-child(6n), .xxl-1:nth-child(4n), .xxl-1:nth-child(3n), .xxl-1:nth-child(2n) {
    width: 8.33333%;
    float: left;
  }
  .xxl-1.last, .xxl-1:nth-child(12n) {
    width: 8.33333%;
    float: right;
    margin-right: 0;
  }
  .xxl-2 {
    width: 16.66667%;
    float: left;
    padding: 0 1.5rem;
  }
  .xxl-2:nth-child(12n), .xxl-2:nth-child(6n), .xxl-2:nth-child(4n), .xxl-2:nth-child(3n), .xxl-2:nth-child(2n) {
    width: 16.66667%;
    float: left;
  }
  .xxl-2.last, .xxl-2:nth-child(6n) {
    width: 16.66667%;
    float: right;
    margin-right: 0;
  }
  .xxl-3 {
    width: 25%;
    float: left;
    padding: 0 1.5rem;
  }
  .xxl-3:nth-child(12n), .xxl-3:nth-child(6n), .xxl-3:nth-child(4n), .xxl-3:nth-child(3n), .xxl-3:nth-child(2n) {
    width: 25%;
    float: left;
  }
  .xxl-3.last, .xxl-3:nth-child(4n) {
    width: 25%;
    float: right;
    margin-right: 0;
  }
  .xxl-4 {
    width: 33.33333%;
    float: left;
    padding: 0 1.5rem;
  }
  .xxl-4:nth-child(12n), .xxl-4:nth-child(6n), .xxl-4:nth-child(4n), .xxl-4:nth-child(3n), .xxl-4:nth-child(2n) {
    width: 33.33333%;
    float: left;
  }
  .xxl-4.last, .xxl-4:nth-child(3n) {
    width: 33.33333%;
    float: right;
    margin-right: 0;
  }
  .xxl-5 {
    width: 41.66667%;
    float: left;
    padding: 0 1.5rem;
  }
  .xxl-5:nth-child(12n), .xxl-5:nth-child(6n), .xxl-5:nth-child(4n), .xxl-5:nth-child(3n), .xxl-5:nth-child(2n) {
    width: 41.66667%;
    float: left;
  }
  .xxl-5.last {
    width: 41.66667%;
    float: right;
    margin-right: 0;
  }
  .xxl-6 {
    width: 50%;
    float: left;
    padding: 0 1.5rem;
  }
  .xxl-6:nth-child(12n), .xxl-6:nth-child(6n), .xxl-6:nth-child(4n), .xxl-6:nth-child(3n), .xxl-6:nth-child(2n) {
    width: 50%;
    float: left;
  }
  .xxl-6.last, .xxl-6:nth-child(2n) {
    width: 50%;
    float: right;
    margin-right: 0;
  }
  .xxl-7 {
    width: 58.33333%;
    float: left;
    padding: 0 1.5rem;
  }
  .xxl-7:nth-child(12n), .xxl-7:nth-child(6n), .xxl-7:nth-child(4n), .xxl-7:nth-child(3n), .xxl-7:nth-child(2n) {
    width: 58.33333%;
    float: left;
  }
  .xxl-7.last {
    width: 58.33333%;
    float: right;
    margin-right: 0;
  }
  .xxl-8 {
    width: 66.66667%;
    float: left;
    padding: 0 1.5rem;
  }
  .xxl-8:nth-child(12n), .xxl-8:nth-child(6n), .xxl-8:nth-child(4n), .xxl-8:nth-child(3n), .xxl-8:nth-child(2n) {
    width: 66.66667%;
    float: left;
  }
  .xxl-8.last {
    width: 66.66667%;
    float: right;
    margin-right: 0;
  }
  .xxl-9 {
    width: 75%;
    float: left;
    padding: 0 1.5rem;
  }
  .xxl-9:nth-child(12n), .xxl-9:nth-child(6n), .xxl-9:nth-child(4n), .xxl-9:nth-child(3n), .xxl-9:nth-child(2n) {
    width: 75%;
    float: left;
  }
  .xxl-9.last {
    width: 75%;
    float: right;
    margin-right: 0;
  }
  .xxl-10 {
    width: 83.33333%;
    float: left;
    padding: 0 1.5rem;
  }
  .xxl-10:nth-child(12n), .xxl-10:nth-child(6n), .xxl-10:nth-child(4n), .xxl-10:nth-child(3n), .xxl-10:nth-child(2n) {
    width: 83.33333%;
    float: left;
  }
  .xxl-10.last {
    width: 83.33333%;
    float: right;
    margin-right: 0;
  }
  .xxl-11 {
    width: 91.66667%;
    float: left;
    padding: 0 1.5rem;
  }
  .xxl-11:nth-child(12n), .xxl-11:nth-child(6n), .xxl-11:nth-child(4n), .xxl-11:nth-child(3n), .xxl-11:nth-child(2n) {
    width: 91.66667%;
    float: left;
  }
  .xxl-11.last {
    width: 91.66667%;
    float: right;
    margin-right: 0;
  }
  .xxl-12 {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    padding: 0 1.5rem;
  }
  .xxl-12:nth-child(12n), .xxl-12:nth-child(6n), .xxl-12:nth-child(4n), .xxl-12:nth-child(3n), .xxl-12:nth-child(2n) {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
  .xxl-12.last {
    width: 100%;
    float: right;
    margin-right: 0;
  }
}

/************************************************************************/
/* INSET CLASSES
/************************************************************************/
.inset-m-1 {
  padding-left: 8.33333%;
  padding-right: 8.33333%;
}

.inset-m-2 {
  padding-left: 16.66667%;
  padding-right: 16.66667%;
}

.inset-m-3 {
  padding-left: 25%;
  padding-right: 25%;
}

.inset-m-4 {
  padding-left: 33.33333%;
  padding-right: 33.33333%;
}

.inset-m-5 {
  padding-left: 41.66667%;
  padding-right: 41.66667%;
}

.inset-m-6 {
  padding-left: 50%;
  padding-right: 50%;
}

.inset-m-7 {
  padding-left: 58.33333%;
  padding-right: 58.33333%;
}

.inset-m-8 {
  padding-left: 66.66667%;
  padding-right: 66.66667%;
}

.inset-m-9 {
  padding-left: 75%;
  padding-right: 75%;
}

.inset-m-10 {
  padding-left: 83.33333%;
  padding-right: 83.33333%;
}

.inset-m-11 {
  padding-left: 91.66667%;
  padding-right: 91.66667%;
}

.inset-m-12 {
  padding-left: 100%;
  padding-right: 100%;
}

@media (min-width: 600px) {
  .inset-md-1 {
    padding-left: 8.33333%;
    padding-right: 8.33333%;
  }
  .inset-md-2 {
    padding-left: 16.66667%;
    padding-right: 16.66667%;
  }
  .inset-md-3 {
    padding-left: 25%;
    padding-right: 25%;
  }
  .inset-md-4 {
    padding-left: 33.33333%;
    padding-right: 33.33333%;
  }
  .inset-md-5 {
    padding-left: 41.66667%;
    padding-right: 41.66667%;
  }
  .inset-md-6 {
    padding-left: 50%;
    padding-right: 50%;
  }
  .inset-md-7 {
    padding-left: 58.33333%;
    padding-right: 58.33333%;
  }
  .inset-md-8 {
    padding-left: 66.66667%;
    padding-right: 66.66667%;
  }
  .inset-md-9 {
    padding-left: 75%;
    padding-right: 75%;
  }
  .inset-md-10 {
    padding-left: 83.33333%;
    padding-right: 83.33333%;
  }
  .inset-md-11 {
    padding-left: 91.66667%;
    padding-right: 91.66667%;
  }
  .inset-md-12 {
    padding-left: 100%;
    padding-right: 100%;
  }
}

@media (min-width: 900px) {
  .inset-lg-1 {
    padding-left: 8.33333%;
    padding-right: 8.33333%;
  }
  .inset-lg-2 {
    padding-left: 16.66667%;
    padding-right: 16.66667%;
  }
  .inset-lg-3 {
    padding-left: 25%;
    padding-right: 25%;
  }
  .inset-lg-4 {
    padding-left: 33.33333%;
    padding-right: 33.33333%;
  }
  .inset-lg-5 {
    padding-left: 41.66667%;
    padding-right: 41.66667%;
  }
  .inset-lg-6 {
    padding-left: 50%;
    padding-right: 50%;
  }
  .inset-lg-7 {
    padding-left: 58.33333%;
    padding-right: 58.33333%;
  }
  .inset-lg-8 {
    padding-left: 66.66667%;
    padding-right: 66.66667%;
  }
  .inset-lg-9 {
    padding-left: 75%;
    padding-right: 75%;
  }
  .inset-lg-10 {
    padding-left: 83.33333%;
    padding-right: 83.33333%;
  }
  .inset-lg-11 {
    padding-left: 91.66667%;
    padding-right: 91.66667%;
  }
  .inset-lg-12 {
    padding-left: 100%;
    padding-right: 100%;
  }
}

@media (min-width: 1200px) {
  .inset-xl-1 {
    padding-left: 8.33333%;
    padding-right: 8.33333%;
  }
  .inset-xl-2 {
    padding-left: 16.66667%;
    padding-right: 16.66667%;
  }
  .inset-xl-3 {
    padding-left: 25%;
    padding-right: 25%;
  }
  .inset-xl-4 {
    padding-left: 33.33333%;
    padding-right: 33.33333%;
  }
  .inset-xl-5 {
    padding-left: 41.66667%;
    padding-right: 41.66667%;
  }
  .inset-xl-6 {
    padding-left: 50%;
    padding-right: 50%;
  }
  .inset-xl-7 {
    padding-left: 58.33333%;
    padding-right: 58.33333%;
  }
  .inset-xl-8 {
    padding-left: 66.66667%;
    padding-right: 66.66667%;
  }
  .inset-xl-9 {
    padding-left: 75%;
    padding-right: 75%;
  }
  .inset-xl-10 {
    padding-left: 83.33333%;
    padding-right: 83.33333%;
  }
  .inset-xl-11 {
    padding-left: 91.66667%;
    padding-right: 91.66667%;
  }
  .inset-xl-12 {
    padding-left: 100%;
    padding-right: 100%;
  }
}

@media (min-width: 1500px) {
  .inset-xxl-1 {
    padding-left: 8.33333%;
    padding-right: 8.33333%;
  }
  .inset-xxl-2 {
    padding-left: 16.66667%;
    padding-right: 16.66667%;
  }
  .inset-xxl-3 {
    padding-left: 25%;
    padding-right: 25%;
  }
  .inset-xxl-4 {
    padding-left: 33.33333%;
    padding-right: 33.33333%;
  }
  .inset-xxl-5 {
    padding-left: 41.66667%;
    padding-right: 41.66667%;
  }
  .inset-xxl-6 {
    padding-left: 50%;
    padding-right: 50%;
  }
  .inset-xxl-7 {
    padding-left: 58.33333%;
    padding-right: 58.33333%;
  }
  .inset-xxl-8 {
    padding-left: 66.66667%;
    padding-right: 66.66667%;
  }
  .inset-xxl-9 {
    padding-left: 75%;
    padding-right: 75%;
  }
  .inset-xxl-10 {
    padding-left: 83.33333%;
    padding-right: 83.33333%;
  }
  .inset-xxl-11 {
    padding-left: 91.66667%;
    padding-right: 91.66667%;
  }
  .inset-xxl-12 {
    padding-left: 100%;
    padding-right: 100%;
  }
}

/************************************************************************/
/* SHOW/HIDE CLASSES
/************************************************************************/
.hide-m-down {
  display: none;
}

@media (min-width: 600px) {
  .hide-m-down {
    display: block;
  }
}

.hide-md-down {
  display: none;
}

@media (min-width: 600px) {
  .hide-md-down {
    display: block;
  }
}

.hide-lg-down {
  display: none;
}

@media (min-width: 900px) {
  .hide-lg-down {
    display: block;
  }
}

.hide-xl-down {
  display: none;
}

@media (min-width: 1200px) {
  .hide-xl-down {
    display: block;
  }
}

.hide-xxl-down {
  display: none;
}

@media (min-width: 1500px) {
  .hide-xxl-down {
    display: block;
  }
}

@media (min-width: 600px) {
  .hide-m-up {
    display: none;
  }
}

@media (min-width: 600px) {
  .hide-md-up {
    display: none;
  }
}

@media (min-width: 900px) {
  .hide-lg-up {
    display: none;
  }
}

@media (min-width: 1200px) {
  .hide-xl-up {
    display: none;
  }
}

@media (min-width: 1500px) {
  .hide-xxl-up {
    display: none;
  }
}
