/************************************************************************/
/* HTML/BODY
/************************************************************************/


/************************************************************************/
/* FOOTER STYLES
/************************************************************************/
footer[role="contentinfo"] {
  *zoom: 1;
  background-color: #e6e6e6;
  padding: 2rem 0;
}

footer[role="contentinfo"]:before, footer[role="contentinfo"]:after {
  display: table;
  content: "";
}

footer[role="contentinfo"]:after {
  clear: both;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
}

li {
  float: left;
}

li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #ddd;
}

li a.active {
  color: white;
  background-color: #4CAF50;
}

/************************************************************************/
/* DEFAULT PAGE STYLES
/************************************************************************/
/************************************************************************/
/* HOME
/************************************************************************/
